html * {
    font-family: sans-serif;
    font-size: 13px;
}
.panel {
    background-color: white !important;
    padding: 0 !important;
}
label, input {
    color: #007592 !important;
}
.panel.form input[type="button"] {
    background-color: rgb(0, 165, 187) !important;
    border: none !important;
    padding: 10px 10%;
    box-shadow: none;
    font-size: 1.2em;
    color: whitesmoke !important;
    outline: none;
    border-radius: 5px !important;
    margin-top: 1em !important;
    width: 25% !important;
    margin-left: 25%;
}
label{
    width: auto !important;
    margin-left: 25%;
}

input {
    outline: none;
    border-radius: 1px !important;
    box-shadow: none !important;
    width: 50% !important;
    margin-left: 25%;
    border-width: 1px;
    border-color: #CCC;
    border-style: solid;
    margin-right: 25%;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    border: 1px solid #CCC !important;
}
select {
    color: rgb(112, 112, 112) !important;
    background-color: white !important;
    border: none !important;
    outline: none !important;
    width: 35% !important;
    border-bottom: 3px solid #78A3AD !important;
}
a {
    text-decoration: none;
}
#header, #menu, #navbar{
    background: #CCC url("images/bg.png") !important;
    border-top: none !important;
}
#header {
    border: none !important;
    font-size: 1em !important;
}
#afui #header h1 {
    font-family: monospace;
}
#logregr a{
    background-color: rgb(0, 165, 187);
    padding: 10px;
    text-decoration: none;
    color: #F2F2F2;
    clear: left;
    width: 80%;
    text-align: center;
    margin: 1% 10%;
    font-size: 1.1em;
}

#logregr * {
    float: left;
}
#fronpagewrap{
    position: relative;
    height: 50%;
    width: 100%;
    background-image: url("images/frontpage.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#fronpage{
    width: 100%;
    position: relative;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
::-webkit-input-placeholder {
   color: #CCC;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CCC;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC;
}

:-ms-input-placeholder {
   color: #CCCCCC;
}

.panel.form {
    padding: 2em 0 !important;
    background-color: #EBEBEB !important;
}
#navbar a {
    color: rgb(0, 165, 187) !important;
}

.interlinks {
    float: right;
    color: #646464;
    font-size: 1em;
    margin-right: 1em;
}
.popout {
    font-size: 30px;
    top: 7px;
    position: relative;
}

.form.panel input {
    background-color: white !important;
    border: 1px solid #B4DDE7 !important;
}

.panel h4 {
    color: rgb(3, 123, 139) !important;
    text-align: center;
    padding: 1em;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}

#carupd input[type="button"], #profupd input[type="button"] {
    width: 30% !important;
    float: left;
    margin: 1% 10%;
}

#notification{
    padding: 1em;
    background-color: #999999;
}

.styled-select {
    padding-left: 25%;
    width: 100%;
}
.styled-select:after {
    content: "<>";
    font-size: 1.5em;
    -webkit-transform: rotate(90deg);
    float: right;
    position: relative;
    right: 65%;
    color: #007592 !important;
    top: .4em;
}

#color {
    width: 10% !important;
    padding: 0 !important;
    margin-left: 0;
}