@media (max-width: 400px) {
    body {
        font-size:50% !important;
    }
}
@media (max-width: 640px) {
    body {  
        font-size: 60% !important;
    }
}
@media (min-width:641px) {
    body {
        font-size: 100% !important;       
    }
}
@media (min-width:1100px) {
    body {
        font-size: 110% !important;
    }
}
@media (min-width:1200px) {
    body {
        font-size: 120% !important;
    }
}

div.panel.form {
    padding: 2em !important;
}
input[type=button] {
    margin-top: 1em !important;
    padding: 10px 25px !important;
    color: #F2F2F2 !important;
    font-weight: normal !important;
    background-color: #781FA2 !important;
    border: none !important;
    font-size: 1em;
    margin-left: 0 !important;
}
html * {
    font-family: sans-serif !important;
}
input:focus, select:focus {
    background-color: #F5F5F5 !important;
    outline: none !important;
    border: none !important;
}
#afui .input-group input:not([type='button']):not([type='submit']), #afui .input-group textarea, #afui .input-group select {

}

.styled-select:after {
    content: "<>";
    right: 0%;
    position: relative;
    -webkit-transform: rotate(90deg);
    float: right;
    top: -2em;
    font-size: 1.5em;
    color: #781FA2;
}
.styled-select {
    width: 100%;
    margin-right: 0 !important;
}
.styled-select select {
    background-color: #E2E2E2 !important;
    border-radius: 5px !important;
    border-bottom: 0 !important;
    background-image: -webkit-gradient(  linear,  left top,  left bottom,  color-stop(0, #E2E2E2),  color-stop(0.86, #F7F7F7) ) !important; background-image: -o-linear-gradient(bottom, #E2E2E2 0%, #F7F7F7 86%); background-image: -moz-linear-gradient(bottom, #E2E2E2 0%, #F7F7F7 86%);
    background-image: -webkit-linear-gradient(bottom, #E2E2E2 0%, #F7F7F7 86%); background-image: -ms-linear-gradient(bottom, #E2E2E2 0%, #F7F7F7 86%);
    background-image: linear-gradient(to bottom, #E2E2E2 0%, #F7F7F7 86%);
}
input {
    margin-bottom: .5em !important;
    border: 1px solid #CCC !important;
    border-radius: 3px !important;
    color: #781FA2 !important;
}

::-webkit-input-placeholder {
    color: #E0E0E0 !important;
    font-weight: normal !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #E0E0E0 !important;
    font-weight: normal !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #E0E0E0 !important;
    font-weight: normal !important;
}

:-ms-input-placeholder {
    color: #E0E0E0 !important;
    font-weight: normal !important;
}

input[type=button]:focus {
    background-color: #5C0186 !important;
}

#afui.bb #header{
    background-color: #781FA2 !important;
    background-image: none !important;
    border-width: 0;
}
.input-group {
    padding: 2em !important;
}
#color {
    padding: 0 !important;
    margin: 0;
    width: 4em !important;
}

#afui.bb #backButton::after {
    background: #F3F3F3;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    width: 1px;
}
#afui.bb #navbar a {
    border-top: 4px solid #781FA2 !important;
    color: #781FA2 !important;
    background: #F1F1F1;
}
a.interlinks {
    width: 100%;
    text-align: right;
    float: left;
}
#search-bar input {
    width: 59% !important;

    border-radius: 0 !important;
    background: #fff !important;
    margin-bottom: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
}
#search-bar select {
    width: 100%;
}
#search-bar * {
    position: relative;
    float: left;
}
#search-bar .styled-select {
    width: 30%;
}
#search-button {
    font-size: 20px;
    color: white;
    /* margin-left: 10px; */
    padding: 0;
    background-color: #781FA4;
    border-top-right-radius: 4px;
    width: 9%;
    border-bottom-right-radius: 4px;
    padding-left: 1.5%;
    height: 30px;
    line-height: 30px;
}
div#search-bar {
    padding: 10px !important;
    border: none !important;
    background-color: #ECECEC !important;
    border-radius: 0 !important;
    box-shadow: 1px 1px 1px 1px #B9B9B9;
}
.panel.nopad {
    padding: 0 !important;
}
#search-bar a {
    padding: 0 10px;
    background-color: #009BE4;
    width: 30%;
    margin-left: 2%;
    color: #FCFCFC;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
}
span.push-notif {
    margin-right: 10px;
    font-weight: bold;
    margin-top: 3px;
    color: rgb(255, 224, 0);
    font-size: 1.3em;
}
#afui.bb #navbar a.pressed {
    background: #781FA2;
    color: white !important;
}
#notification {
    position: relative;
    float: left;
    border-bottom: 1px solid #6E00D3;
    z-index: 190;
    background: rgb(250, 250, 250);
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    min-height: 30px;
    display: none;
    font-size: inherit !important;
}
#afui .panel {
    position: relative !important;
}
.notif-close{
    float: right;
    margin-top: 0px;
    color: rgb(139, 0, 248);
    font-weight: normal;
}
#afui.bb #navbar a:not(:last-of-type):not(.pressed) {
    border-right: 1px solid #781FA2;
}
#search-results {
    padding: 10px 0;
    background: #F0F0F0;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}
.prof-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
    box-shadow: 1px 1px 10px 1px #8A8A8A;
    margin-bottom:15px;
}
.prof-avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.prof-name {
    width: 70%;
    color: #781FA2;
}
.prof-wrap * {
    position: relative;
    float: left;
}
.prof-info-wrap {
    width: 52%;
    padding-top: 10px;
}
.info-name {
    color: #0098D3;
    text-transform: uppercase;
    font-size: 90%;
    font-family: Arial !important;
    width: 40%;
    margin: 3px 5px 0 0;
    clear: both;
}
.info-value {
    font-size: 90%;
    margin: 3px 5px 0 0;
    word-wrap: normal;
    display: inline-block;
    word-break: break-word;
    width: 50%;
}
.info-value:before {
    content: ": ";
}
.prof-avatar-wrap {
    width: 25%;
    padding-left: 3%;
}
.prof-avatar-wrap div, .prof-avatar-wrap a {
    position: relative;
    float: left;
    clear: both;
    text-align: center;
}
.link-review {
    margin-left: 5px;
}
.ratings-wrap {
    margin: 7px 0;
    margin-top: 10px;
}
.prof-right {
    width: 23%;
    top: -20px;
}
.prof-right .info-name {
    width: auto;
}
.value {
    font-size: 90%;
    top:2px;
}
.value:before {
    content: ": ";
}
.prof-type {
    margin-bottom: 6px;
}
.prof-name a {
    color: #781FA2;
    text-decoration: none;
}
.prof-right .clickable {
    padding: 5px 7px;
    background: #781FA2;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    clear: left;
    right: 5%;
}
#afui.bb {
    font-size: inherit !important;
}
#afui select, #afui textarea, #afui input[type="text"], #afui input[type=search], #afui input[type="password"], #afui input[type="datetime"], #afui input[type="datetime-local"], #afui input[type="date"], #afui input[type="month"], #afui input[type="time"], #afui input[type="week"], #afui input[type="number"], #afui input[type="email"], #afui input[type="url"], #afui input[type="tel"], #afui input[type="color"], #afui .input-group{
    font-size: inherit !important;
}
#afui #navbar a{
    font-size: inherit; !important
}
#dash-wrap {
    position: relative;
    float: left;
    width: 100%;
}
input[type="time"] {
    width: 40% !important;
}
.field-group label {
    width: 50% !important;
    text-align: left !important;
    font-size: inherit !important;
}
.field-group {
    margin: 5px 0;
    font-size: inherit !important;
}
#fronpage {
    width: 100%;
    height: 112%;
    position: fixed;
}
#caption {
    top: 20%;
    position: absolute;
    left: 4%;
    width: 50%;
    height: 27%;
}
#tree {
    top: 10%;
    position: absolute;
    right: 5%;
    width: 40%;
    height: 50%;
}
.links {
    position: absolute;
    bottom: 5%;
    right: 10%;
    border-top: 1px solid #D6D6D6;
    padding: 2%;
}
.links .button {
    padding: 10px 20px !important;
    font-size: inherit;
    font-weight: normal !important;
    font-family: sans-serif !important;
    margin-right: 10px !important;
    border-radius: 0 !important;
    background-color: rgb(224, 144, 1) !important;
    border: none !important;
}
#logregr {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: -8% !important;
    height: 110% !important;
    background: url('images/frontpage.svg') no-repeat no-repeat !important;
}

#carimg {
    bottom: 30%;
    position: absolute;
    left: 20%;    
    width: 60%;
}
#notif-msg {
    width: 90%;
    position: relative;
    float: left;
}
.vehicledetails, .pooldetails{
	padding-left: 10px !important;
	width:48% !important;
	float:left;	
}

.vehicledetails h3, .pooldetails h3{
	padding:5px !important;
	background-color:#41BEB9 !important;
	color:white !important;
    box-shadow: 1px 1px 1px 1px #CCCCCC;
}
label {
    font-size: inherit !important;
}