@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-u6sesw');
	src:url('fonts/icomoon.eot?#iefix-u6sesw') format('embedded-opentype'),
		url('fonts/icomoon.woff?-u6sesw') format('woff'),
		url('fonts/icomoon.ttf?-u6sesw') format('truetype'),
		url('fonts/icomoon.svg?-u6sesw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-image:before {
	content: "\e601";
}
.icon-camera:before {
	content: "\e602";
}
.icon-music:before {
	content: "\e603";
}
.icon-connection:before {
	content: "\e604";
}
.icon-bullhorn:before {
	content: "\e605";
}
.icon-cart:before {
	content: "\e606";
}
.icon-phone:before {
	content: "\e607";
}
.icon-smiley:before {
	content: "\e608";
}
.icon-tongue:before {
	content: "\e609";
}
.icon-confused:before {
	content: "\e60a";
}
.icon-neutral:before {
	content: "\e60b";
}
.icon-wondering:before {
	content: "\e60c";
}
.icon-sad:before {
	content: "\e60d";
}
.icon-wink:before {
	content: "\e60e";
}
.icon-grin:before {
	content: "\e60f";
}
.icon-cool:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-facebook:before {
	content: "\e612";
}
.icon-facebook2:before {
	content: "\e613";
}
.icon-twitter2:before {
	content: "\e614";
}
.icon-share:before {
	content: "\e615";
}
.icon-google-plus:before {
	content: "\e616";
}
.icon-google-plus2:before {
	content: "\e617";
}
.icon-feed:before {
	content: "\e618";
}
.icon-feed2:before {
	content: "\e619";
}
.icon-delicious:before {
	content: "\e61a";
}
.icon-file-pdf:before {
	content: "\e61b";
}
.icon-user:before {
	content: "\e61c";
}
.icon-users:before {
	content: "\e61d";
}
.icon-bubbles:before {
	content: "\e61e";
}
.icon-bubbles2:before {
	content: "\e61f";
}
.icon-undo:before {
	content: "\e620";
}
.icon-redo:before {
	content: "\e621";
}
.icon-forward:before {
	content: "\e622";
}
.icon-reply:before {
	content: "\e623";
}
.icon-calendar:before {
	content: "\e624";
}
.icon-calendar2:before {
	content: "\e625";
}
.icon-alarm:before {
	content: "\e626";
}
.icon-clock:before {
	content: "\e627";
}
.icon-bell:before {
	content: "\e628";
}
.icon-pushpin:before {
	content: "\e629";
}
.icon-thumbs-up:before {
	content: "\e62a";
}
.icon-thumbs-up2:before {
	content: "\e62b";
}
.icon-close:before {
	content: "\e62c";
}
.icon-checkmark:before {
	content: "\e62d";
}
.icon-spam:before {
	content: "\e62e";
}
.icon-loop:before {
	content: "\e62f";
}
.icon-radio-checked:before {
	content: "\e630";
}
.icon-radio-unchecked:before {
	content: "\e631";
}
.icon-checkbox-partial:before {
	content: "\e632";
}
.icon-checkbox-unchecked:before {
	content: "\e633";
}
.icon-checkbox-checked:before {
	content: "\e634";
}
.icon-fire:before {
	content: "\e635";
}
.icon-cog:before {
	content: "\e636";
}
.icon-warning:before {
	content: "\e637";
}
.icon-notification:before {
	content: "\e638";
}
.icon-point-up:before {
	content: "\e639";
}
.icon-point-right:before {
	content: "\e63a";
}
.icon-point-down:before {
	content: "\e63b";
}
.icon-point-left:before {
	content: "\e63c";
}
.icon-coin:before {
	content: "\e63d";
}
.icon-arrow-right:before {
	content: "\e63e";
}
.icon-arrow-down-right:before {
	content: "\e63f";
}
.icon-arrow-down:before {
	content: "\e640";
}
.icon-arrow-down-left:before {
	content: "\e641";
}
.icon-arrow-left:before {
	content: "\e642";
}
.icon-arrow-up-right:before {
	content: "\e643";
}
.icon-arrow-up:before {
	content: "\e644";
}
.icon-arrow-right2:before {
	content: "\e645";
}
.icon-arrow-down-right2:before {
	content: "\e646";
}
.icon-arrow-down2:before {
	content: "\e647";
}
.icon-arrow-down-left2:before {
	content: "\e648";
}
.icon-arrow-left2:before {
	content: "\e649";
}
.icon-lock:before {
	content: "\e64a";
}
.icon-lock2:before {
	content: "\e64b";
}
.icon-key:before {
	content: "\e64c";
}
.icon-zoom-out:before {
	content: "\e64d";
}
.icon-zoom-in:before {
	content: "\e64e";
}
.icon-search:before {
	content: "\e64f";
}
.icon-blogger:before {
	content: "\e650";
}
.icon-blogger2:before {
	content: "\e651";
}
.icon-flag:before {
	content: "\e652";
}
.icon-list:before {
	content: "\e653";
}
.icon-list2:before {
	content: "\e654";
}
.icon-settings:before {
	content: "\e655";
}
.icon-star:before {
	content: "\e656";
}
.icon-like:before {
	content: "\e657";
}
.icon-sound:before {
	content: "\e658";
}
